<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iot.shiro.dao.UserMapper">

	<select id="queryUserByUserName" resultType="com.iot.shiro.entity.User">
		select id,username,password from table_user_shiro
		where username = #{username}
	</select>

	<select id="queryUserByUserId" resultType="com.iot.shiro.entity.User">
		select id,username,password,perms from table_user_shiro
		where id = #{id}
	</select>

</mapper>